html {
    height: 100vh;
    align-items: center;
    background-color: rgb(66, 4, 105);
}

.navbar {
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Bungee Tint", sans-serif;
    background: #000000;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    font-size: 18px;
    margin-right: 25px;

}


h1 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Bungee Tint", sans-serif;
    text-align: center;
}

#input, #btn {
    top: 50%;
    left: 50%;
    transform: translate(-10%, -10%);
    transition: 500ms;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#btn {
    background: #000000;
    height: 45px;
    min-width: 90px;
    border: none;
    border-radius: 10px;
    color: blueviolet;
    font-size: 35px;
    font-family: "Bytesized", sans-serif;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    
}

#btn #circle {
    height: 5px;
    width: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

#btn:hover #circle {
    height: 30px;
    width: 120px;
    left: 0;
    border-radius: 0;
    border-bottom: 3px solid #ffffff;
}

#input {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    background: #ffffff;
    color: blueviolet;
    font-size: 35px;
    font-family: "Boldonse", system-ui;
}

H2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Bungee Tint", sans-serif;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 2rem;
    font-family: "Boldonse", system-ui;
    text-align: center;
}