html {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#btn {
    background: #ffffff;
    height: 45px;
    min-width: 90px;
    border: none;
    border-radius: 10px;
    color: blueviolet;
    font-size: 35px;
    font-family: "Cookie" cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
}

#btn #circle {
    height: 5px;
    width: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transition: 500ms;
}

#btn:hover #circle {
    height: 50px;
    width: 100px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #ff0000;
}

#input {
    width: 190px;
    height: 45px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    padding-left: 15px;
    background: #ffffff;
    color: blueviolet;
    font-size: 35px;
    font-family: 'Cookie' cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
}